---
# DX Cluster Packages installation role
# Deploys dxcluster-database and dxcluster-scraper debs

- name: Create packages directory
  file:
    path: "{{ deployment_home }}/packages"
    state: directory
    owner: "{{ deployment_user }}"
    group: "{{ deployment_group }}"
    mode: '0755'
  tags:
    - dxcluster
    - packages

- name: Copy dxcluster-database package
  copy:
    src: "{{ playbook_dir }}/../../../homework2/packages/dxcluster-database/dxcluster-database_{{ dxcluster_database_version }}_all.deb"
    dest: "{{ deployment_home }}/packages/dxcluster-database_{{ dxcluster_database_version }}_all.deb"
    owner: root
    group: root
    mode: '0644'
  tags:
    - dxcluster
    - packages
    - database

- name: Copy dxcluster-scraper package
  copy:
    src: "{{ playbook_dir }}/../../../homework2/packages/dxcluster-scraper/dxcluster-scraper_{{ dxcluster_scraper_version }}_all.deb"
    dest: "{{ deployment_home }}/packages/dxcluster-scraper_{{ dxcluster_scraper_version }}_all.deb"
    owner: root
    group: root
    mode: '0644'
  tags:
    - dxcluster
    - packages
    - scraper

- name: Install dxcluster-database package
  apt:
    deb: "{{ deployment_home }}/packages/dxcluster-database_{{ dxcluster_database_version }}_all.deb"
    state: present
  register: db_install
  tags:
    - dxcluster
    - packages
    - database

- name: Install dxcluster-scraper package
  apt:
    deb: "{{ deployment_home }}/packages/dxcluster-scraper_{{ dxcluster_scraper_version }}_all.deb"
    state: present
  register: scraper_install
  tags:
    - dxcluster
    - packages
    - scraper

- name: Display database installation result
  debug:
    msg: "dxcluster-database package installation: {{ db_install.stdout_lines | default([]) }}"
  tags:
    - dxcluster
    - packages

- name: Display scraper installation result
  debug:
    msg: "dxcluster-scraper package installation: {{ scraper_install.stdout_lines | default([]) }}"
  tags:
    - dxcluster
    - packages

- name: Verify dxcluster-database installed
  shell: dpkg -l | grep dxcluster-database
  register: db_check
  changed_when: false
  tags:
    - dxcluster
    - packages
    - verify

- name: Verify dxcluster-scraper installed
  shell: dpkg -l | grep dxcluster-scraper
  register: scraper_check
  changed_when: false
  tags:
    - dxcluster
    - packages
    - verify

- name: Database installation status
  debug:
    msg: "{{ db_check.stdout }}"
  tags:
    - dxcluster
    - packages
    - verify

- name: Scraper installation status
  debug:
    msg: "{{ scraper_check.stdout }}"
  tags:
    - dxcluster
    - packages
    - verify

- name: Set permissions on deployed packages
  file:
    path: "{{ deployment_home }}/packages"
    state: directory
    owner: "{{ deployment_user }}"
    group: "{{ deployment_group }}"
    mode: '0755'
    recurse: yes
  tags:
    - dxcluster
    - packages
