version: '3'

services:
  dx-api:
    image: ghcr.io/stevebuer/cs330-projects/dx-cluster-api:latest
    container_name: dx-cluster-api
    network_mode: host
    env_file:
      - .env
    restart: unless-stopped
