version: '3'

services:
  dx-api:
    image: ghcr.io/stevebuer/cs330-projects/dx-cluster-api:latest
    container_name: dx-cluster-api
    network_mode: host
    env_file:
      - .env
    restart: unless-stopped

  dx-dashboard:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: dx-streamlit-dashboard
    ports:
      - "8501:8501"
    environment:
      - PGHOST=${PGHOST}
      - PGPORT=${PGPORT:-5432}
      - PGDATABASE=${PGDATABASE}
      - PGUSER=${PGUSER}
      - PGPASSWORD=${PGPASSWORD}
    restart: unless-stopped
